<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Aeronaves</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <form id="formAeronave">
    <input type="text" id="modelo" placeholder="Modelo" required>
    <input type="text" id="fabricante" placeholder="Fabricante" required>
    <input type="number" id="horas_voo" placeholder="Horas de Voo" required>
    <button type="submit">Cadastrar</button>
</form>

<div id="mensagem" class="mensagem"></div>

<h2>Lista de Aeronaves</h2>
<button onclick="carregarAeronaves()">Atualizar Lista</button>
<ul id="listaAeronaves"></ul>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
